# Enable URL Rewriting
RewriteEngine On

# Block access to sensitive files like .env
<Files ".env">
    Require all denied
</Files>

# Redirect Trailing Slashes If Not A Folder
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

# Handle Front Controller
# If the request is not for a real file or directory...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# ...rewrite it to index.php, passing the request path as the 'r' parameter.
RewriteRule ^(.*)$ index.php?r=$1 [L,QSA]